
    <div class="item" (click)="onClickCard()" style="position: relative;
    display: inline-block;
    min-width: 247.5px;
    height: 100%;" >
      <article class="card w-100 on-sale" id="modern-variant-card" tabindex="0">
        <span class="badge on-sale"><span>40% OFF</span></span>
        <a class="img d-block ng-lazyloaded" style="background-repeat: no-repeat; background-position: center center; background-image: url(&quot;https://s3.amazonaws.com/gpcdn-dev/avenida/products/photos/7d/717/16b2cfa717f064baeb4b7dd37e5e149f_tm.jpg&quot;);" title="Pileta Estructural Bestway 4678 Lts (56677)" href="/products/pileta-estrucutal-bestway-4678-lts-56677-aecf7cfb-4b99-46ce-91b9-fe3dc159c9a6"></a>
        <div class="card-body d-flex flex-column text-left">
          <div class="title-panel d-block">
            <h6 class="d-inline-block">{{prod.nombre}}</h6>
            <h3 class="m-0"></h3>
          </div>
          <div class="info-panel mt-auto">
            <div>
              <span class="installments mb-2 mt-2">
                <small style="white-space: normal;">
                  <span> Hasta</span><span> 12</span><span> cuotas</span><span> sin interés</span> de<br><span class="amount cost"> $1.258,25</span>
                </small>
              </span>
              <span class="sale-price"> $ 15.099 </span>
              <span class="price"> $ 25.163 </span>
            </div>
          </div>
        </div>
      </article>
    </div>

